// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
$skinActiveColor: #001CEE;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;
//$skinLogo: $skinHeaderBck image-url("logo_admin.png") no-repeat center center;

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$panelHeader: #F0F4F5;
$panelBorder: #CDCDCD;

pre.code {
  color: #333;
  border: 1px solid $panelBorder;
  background: #F2FCFF;
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0;
  padding: 5px;
}

.code-input {
  display: inline-block;
  width: calc(80% - 5px);
}

.attributes_table.robot {
  th {
    min-width: 100px;
  }
}

.robot-status-panel {
  .robot-pulse {
    margin-bottom: 10px;
  }
}

.robot-stats-panel {
  .panel_contents {
    padding: 0;
  }

  .robot-stats-chart {
    height: 300px;
  }
}

.robot-account-list {
  .column {
    max-width: 300px;
  }

  & > .panel_contents {
    padding-top: 10px;
  }
}

.robot-pulse {
  @include clearfix();

  .robot-status {
    float: left;
    font-size: 14px;
    margin-right: 5px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .robot-status-running {
    color: green;
  }

  .robot-status-iddle {
    color: #0CA2C7;
  }

  .robot-next-run {
    float: left;
    line-height: 20px;
    color: #888;
  }
}

.robot-alerts {
  ul {
    list-style: none;
    @include clearfix();
    padding: 0;
    margin: 0;
  }

  li {
    float: left;
    padding: 0;
    margin-right: 5px;
  }

  a {
    color: white;
    padding: 2px 5px;
    background-color: red;
    text-decoration: none;
  }

  a:hover {
    background-color: #FF8888;
  }
}

.robot-log {
  color: #EEE;
  background-color: black;
  border: 1px solid grey;
  font-family: Courier;

  ul {
    list-style: none;
    padding-left: 5px;
  }

  li.level-error {
    color: red;
  }
}

.custom_footer {
  z-index: 100;
}

.account-widget {
  border: 1px solid $panelBorder;
  margin-bottom: 10px;

  .account-details {
    @include clearfix();
    padding: 3px;
    background: $panelHeader;
    border-bottom: 1px solid $panelBorder;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .account-name, .account-exchange {
    float: left;
    margin-left: 3px;
  }

  .account-name a {
    text-decoration: none;
    font-weight: bold;
  }

  .account-exchange {
    &:before { content: "(" }
    &:after { content: ")" }
    margin-right: 3px;
  }

  .account-market {
    float: right;
  }

  .account-order-chart {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 800px) {
  .hidden-phone {
    display: none;
  }

  #site_title, #utility_nav {
    display: none !important;
  }

  #title_bar {
    h2 {
      font-size: 18px;
    }

    #titlebar_left, #titlebar_right {
      height: 20px;
    }

    .breadcrumb {
      display: none;
    }

    .action_items {
      a {
        padding: 5px 10px !important;
        font-size: 14px;
        font-weight: normal;
        max-width: 40px;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    padding: 5px 15px;
  }

  #active_admin_content {
    padding: 5px;
    .columns {
      .column {
        margin-right: 0 !important;
        width: 100% !important;
      }
    }
  }
}
